
<div class="container">


      <h2><%= link_to "Add cocktail", new_cocktail_path %></h2>
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="card col-3">
      <ul>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      </ul>
      </div>
    <% end %>
  </div>
</div>
